@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Source+Sans+Pro:ital,wght@0,200;1,400&display=swap');

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Playfair Display', serif;
}

body {
    margin: 0;
}

p,
a {
    font-family: 'Source Sans Pro', sans-serif;
}

html {
    scroll-behavior: smooth;
}

a {
    background-color: darkolivegreen;
    text-decoration: none;
    color: white;
    border-radius: .25rem;
    text-align: center;
    display: inline-block;
    transition: all .3s;
    padding: .5rem;
    font-weight: bold;

    margin: .75rem;
}

a:hover {
    background-color: olive;
}

.hero {
    background: url(../images/header.jpg);



    background-size: cover;
    padding: 4rem 2rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    align-items: center;
}

.hero>* {
    color: white;
}



.hero>h1 {
    font-size: 4rem;
    padding: 1rem;
    
}

.hero>h1>span {
    background-color:rgba(0, 0, 0, .7);
    display: inline-block;
    padding: 1rem;
}

.hero>article>p {
    padding: 1rem;
    font-size: 1.5rem;

}

.hero>article>p>span {
    background-color:rgba(0, 0, 0, .7);
    display: inline-block;
    padding: 1rem;
}

.recipes {
    padding: 2rem;
}

.recipes>ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 1rem;
    list-style: none;
}

.recipes>ul>li {
    border: 1px solid #E2E2E2;
    border-radius: .5rem;
}

.recipes>ul>li>figure {
    max-height: 220px;
    overflow: hidden;
    border-top-left-radius: .5rem;
    border-top-right-radius: .5rem;
    position: relative;
}

.recipes>ul>li>figure>figcaption {
    position: absolute;
    bottom: 0;
    background-color: rgba(0, 0, 0, .7);
    width: 100%;
}

.recipes>ul>li>figure>figcaption>h3 {
    color: white;
    padding: .75rem;
    font-size: 1.25rem;
}

.recipes>ul>li>p {
    font-size: 1rem;
    line-height: 1.5;
    padding: 1rem .75rem;
    color: #666666;
}

.recipes>ul>li>a {
    padding: .5rem 1rem;
    margin: .5rem;
}

footer {
    background-color: #333;
    padding: .2rem;
    color: white;
    text-align: center;
    font-size: .75rem;
}